[{db_pool,
  [
   {services, [db]},
   {db, [
           {host, <<"127.0.0.1">>},
           {port, 3306},
           {database, <<"fireplace_test">>},
           {username, <<"root">>},
           {password, <<"jesky520">>},
           {pool_size, 1},
           {start_interval, 30},
           {keepalive_interval, 90}
          ]}
  ]}].
